@charset "utf-8";

body {
  padding-top: 90px; 
  background-color: #333;
  color: white;
  width: 900px;
  margin: 20px auto;
}
a{
  text-decoration: none;
  color: white;
}
a:hover{
  color: deeppink;
}
header {
  width: 100%; 
  height: 50px; 
  background: #333; 
  padding: 20px 50px; 
  box-sizing: border-box; 
  position: fixed; 
  top: 0; 
  left: 0; 
  display: flex; 
  align-items: center; 
  color: white;
}


header .gnav .menu {
  display: flex; 
}

header .gnav .menu li {
  list-style: none; 
  
}

header .a{
  color: #fff;
}

header .a:hover{
  color: deeppink;
}

header .gnav .menu li + li {
  margin-left: 40px; 
}
.formidx{
  position: absolute;
  top: 10px;
  right: 10px;
}

main {
  height: 100vw; 
}

nav{
  text-align: right;
  padding: 5px;
}
nav li{
  list-style-type: none;
  display: inline;
  padding: 0px 10px;
}


article{
  float: left;
  width: 620px;;
}

aside{
  float: right;
  width: 180px;
}

footer{
  clear: both;
}

section{
  text-align: center;
}

.foot-wrap {
  background-color: #333;
  color: #fff;
  text-align: center;
}

.foot-wrap .menu-left, .menu-center, .menu-right {
  display: inline-block;
  width: 20%;
  margin: 50px auto;
}

.foot-wrap ul {
  list-style: none;
  padding: 0;
  line-height:40px;
}

.foot-wrap h3 {
  border-bottom: 3px solid #2ac5b3;
  padding: 10px;
}

.foot-wrap a {
  text-decoration: none;
  color: #fff;
}

.foot-wrap a:hover {
  color: deeppink;
}

.foot-wrap .cmark {
  display: block;
  padding: 10px;
  border-top: 1px solid gray;
  width: 80%;
  margin: 0 auto;
  color: gray;
}

@media screen and (max-width: 900px) {
  .foot-wrap .menu-left, .menu-center, .menu-right {
      display: flex;
      flex-direction: column;
      width: 50%;
  }
  .foot-wrap .cpr {
      display: inline;
  }
}
